<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New computer</title>
</head>
<body>

<form th:method="POST" th:action="@{/computers}" th:object="${computer}">
    <label for="computerNumber">Enter your computer number: </label>
    <input type="text" th:field="*{computerNumber}" id="computerNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('computerNumber')}" th:errors="*{computerNumber}">Computer number Error</div>
    <br/>
    <input type="submit" value="Добавить!"/>
</form>

</body>
</html>